#buttonArea {
	border: 1px solid black;
}

#addButton {
	border: 1px solid black;
}

#gifsAndRatings {
	border: 1px solid black;
}

body {
	background-color: #165f11;
}

.container {
	background-color: #af8254;
}